<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">

  <head>
    <title>My Personal Blog</title>
    <meta charset="utf-8">
    <meta name="description" content="My personal blog.  Thanks for being here!"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="module" src="../components/footer/footer.js" gwd-data-opt="static"></script>
    <script type="module" src="../components/header/header.js" gwd-data-opt="static"></script>
    
    <link rel="stylesheet" href="../styles/theme.css"></link>
    <link rel="stylesheet" href="../styles/home.css"></link>
  </head>

  <body>
    <app-header></app-header>
    <div class="container">
      <page-outlet></page-outlet>
    </div>
    <app-footer></app-footer>
  </body>

</html>